artifacts/stage-dxr/
vkd3d-proton.cache
artifacts/build-vkd3d-*.log
artifacts/build-vkd3d*.log
artifacts/build/
artifacts/clone-*.log
artifacts/mvk-build*.log
artifacts/mvk-*.log
artifacts/prefix/
artifacts/stage-full/
artifacts/stage-self/
scripts/probes/metal-sparse-map-probe
