artifacts/stage-dxr/
vkd3d-proton.cache
artifacts/build-vkd3d-*.log
artifacts/build-vkd3d*.log
artifacts/build/
artifacts/clone-*.log
artifacts/mvk-build*.log
artifacts/mvk-*.log
artifacts/prefix/
artifacts/stage-full/
artifacts/stage-self/
scripts/probes/metal-sparse-map-probe
sources/
toolchain/
artifacts/m14-*.log
artifacts/VKD3D-Proton-MacOS-*.tar.zst
artifacts/toolchain/dxc/

artifacts/metalsharp-graphics-dll-*.tar.zst
